body{
    background: url('/img/sports_overlay_back.jpg') no-repeat;
    padding: 1em;
    margin: auto;
}

.overlay_1{
    position: absolute;
    left: 65em;
    z-index: 2;
}

.overlay_2{
    position: absolute;
    z-index: 2;
}