/* weight = 1 */
p{
    color: red;
}

/* weight = 11 */
.purple{ color: purple;}

/* weight = 101 */
p #blue{
    color: blue;
}

div{
    border-style: dashed;
    border-color: red;
    /* padding: 30px; */
    margin: 30px;
}

#first_div{
    position: relative;
    top: 100px;
}