
body{
  background-color: blanchedalmond;
  margin-top: 15vh;
}

h1{
  text-align: center;
  margin: 0 auto;
  display: block; 
}

button{
  background-color: brown;
  color: white;
  width: max-content;
  margin: 0 auto;
  display: block; 
}

#fetchBearButton:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  
}

#bearImage {
  display: block;
  margin: 20px auto; 
  max-width: 100%;
}