:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: lightgray;
}

.mainList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

input{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #000000;
  margin-left: 10px;
  margin-top: 4vh;
  margin-bottom: 2vh;
}

.AddToListButton{
  color: #ffffff;
  background-color: #808080;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.ListItems{
  cursor: pointer;
}

.AddToListButton:hover{
  background-color: #555555;
}
